.form{
    max-width: 400px;
    margin: 0 auto;
    padding: 2rem;
    background-color: #fff;
    box-shadow: 0px 0px 15px #00000025; /* 6 zeros */
    border-radius: 8px;
}

.form input{
    margin-bottom: 1rem;
}

.form button{
    width: 100%;
}