.container{
    max-width: 400px;
    margin: 0 auto;
    padding: 2rem;
    background-color: #fff;
    box-shadow: 0px 0px 0px 15px #00000025;
    border-radius: 8px;
}

.container h2{
    margin-bottom: 1.5rem;
    text-align: center;
}

.container input{
    margin-bottom: 1rem;
}

.container button{
    width: 100%;
}